footer.footer
  .container
    .text-muted
      | Calgary Children Society ...Together we can build our children's future. Phone: 1403-123456 Email: ccs.com Address: 123 - Kensington Road, Calgary Alberta 