footer.container-fluid.bg-4.text-center
  |Together we can build our children's future.
  |
  |
  |     |
  |
  i.fa.fa-phone
  | +1 403 1234567
  |     |
  |
  i.fa.fa-map-marker
  span
    | 123 - Kensington Road,
    | Bldg. No.1,
  |             Calgary, Alberta Canada
  |    |
  |
  i.fa.fa-envelope
  |
  |
  a(href='#') www.ccs.com
  |    | 
  |      
  span &copy;2020 Calgary Children&apos;s Society