head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon (3).ico")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="")
    meta(name="author" content="Sharon Garal")
    title Calgary Children Society
    link(rel='stylesheet', href='/stylesheets/style.css') 