doctype html
html 
    include includes/head
    body.container-fluid
        include includes/header
        block content
         main(role='main')
         h1.display-3 Calgary Children's Society
        .jumbotron.JumboAboutImg
          
        .row
          .col-lg-6
            h4 Who we are
            p
              | Since 2018, we have beeen assisting families in need all around Calgary area. Specially during the downturn of economy, many families are struggling, kids are the ones who are mostly affected. This charity was created in order to support families in need. There are organizations who are generous enough that support our cause.
            
          .col-lg-6
            h4 What we do
            p
              | We give assistance to families in need,  be it financial and things that they need in their household. We have a team that also organizes fundraising every year. Families can easily connect with us if they need assistance. 
        include includes/footer
        include includes/foot