doctype html
html 
    include includes/head
    body.container
        include includes/header

        .container
          block content
        

        include includes/footer
        include includes/foot