doctype html
html 
    include includes/head
    body.container-fluid
        include includes/header
        
        .container
          block content

        include includes/footer
        include includes/foot