doctype html
html 
    include includes/head
    body.container-fluid
        include includes/header
        block content
         main(role='main')
        .jumbotron.JumboHeadImg2
          h1.display-3 Schedule For Pick Up
          p.lead
            | Please click the link below to schedule for pick up. You can also drop off donations during our business hours. All pick ups are all curbside only due to Covid. You can also call the office to schedule a pick up.
          p
            a.btn.btn-lg.btn-success(href='/fillupform', role='button') Click Here
        .row.marketing
          .col-lg-6
            h4 Items We Accept
            ul
              li Strollers or carseat of any kind
              li Toys and games
              li Clothing
              li Furnitures like beds, dressers, mattresses, side tables
              li Kitchenwares including appliances
              
              
            
          .col-lg-6
            h4 Drop Off Locations
            p
              | We have several location option for drop off. Our address is located in 123 Kengsington Drive Calgary, Alberta. We also have donation boxes in Calgary communities that we pick up regularly. If you are unsure of the items you want to donate, you can call during office hours to verify as well as you can schedule for pick up. We would love to assist you.
            
            
        include includes/footer
        include includes/foot