doctype html
html 
    include includes/head
    body.container-fluid
        include includes/header
        block content
         main(role='main')
        .jumbotron.JumboVolunteerImg
          h1.display-3 Volunteers Needed
          p.lead.text-white
            | We are continuously in need of volunteers to assist us. Please click the link below if you wish to be part of our team. We do have various positions that currently in need of volunteers. You can also contact our office to inquire.
          p
            a.btn.btn-lg.btn-success(href='/volunteerform', role='button') Fill out the application
            
        .row
          .col-lg-12
            
            h4 Volunteers
            p
             img(src="../images/volunteer2.jpg" alt='Volunteers' style='width:200px;height:170px;margin-right:15px;float:left')
             | If you are passionate in helping people, we are currently in need of donation center volunteers. You can also tell us which area you would like to help, others also assist in bagging items or picking up the donated items in peoples homes then delivering it to people in need. Please call us or click the link to fill out the application form. 
             | You can also email us at contact@ccs.com or call us at 4031234567. We would love to assist you!
          .col-lg-12
            h4 Special Events
            p
             img(src="../images/volunteer3.jpg" alt='Special Events' style='width:200px;height:170px;margin-right:15px;float:left') 
             | Special events are integral part of our organization to spread awareness of our work. If you love interacting with people, we have the perfect role for you. Every year we facilitate events all over Calgary areaLorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula. Venenatis doloraecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit.

          .col-lg-12
            h4 Board Members
            p
             img(src="../images/volunteer4.jpg" alt='Board members' style='width:200px;height:170px;margin-right:15px;float:left')
             | Our current board members have been excellent in organizing teams needed for our success. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula. Venenatis doloraecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentumn.

          


        include includes/footer
        include includes/foot