@import "custom";
@import "../../node_modules/bootstrap/scss/bootstrap";
 
body.container
  margin-bottom: 60px;
  background-image: url("../images/img1.jpg");
  height: 668px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
  padding: 70px;
  

body.container-fluid
  margin-bottom: 60px;
  padding: 90px;

.jumbotron
  background-image: url("../images/about2.jpg");
  background-size: cover;

.container
 padding: 60px;
  
.JumboVolunteerImg
  background-image: url("../images/volunteer.jpg");
  background-size: cover;

.JumboScheduleImg
  background-image: url("../images/schedule.jpg");
  background-size: cover;

.display-3
  background-color: #f4f4f4;
  color: blue;
  text-align: center;

.bg-4
  background-color: #ee93bd;
  color: #fff;

.col-lg-12
  padding: 25px;

footer.container-fluid
  position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  padding: 10px;



  
