@import "custom";
@import "../../node_modules/bootstrap/scss/bootstrap";
 
body.container
  margin-bottom: 60px;
  background-image: url("../images/img1.jpg");
  height: 668px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
  padding: 70px;

body.container-fluid
  margin-bottom: 60px;
  padding: 90px;

.jumbotron
  background-image: url("../images/jumbotron1.png");
  background-size: cover;
    
.row.marketing
  color: #000080; 

.footer
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #ffb6e6;
  
